p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    }
    
    .mode ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        margin: 35px auto 0;
        width: 385px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, 0.5);   
        backdrop-filter: blur(8px);
    
    ;}
    
    li a{
        text-decoration: none;
        color: #7849D6;
        padding: 6px 18PX;
        display: inline-block;
       transition: all .4s ease
    
    }
    
    .mode ul li a:hover{
        background-color: #fff;
        color: #7849D6;
        border-radius: 20px;
    }

    .wallet{
        background-color: white;
        border-radius: 20px;
    }
    
    .wallet:hover{
        color: #7849D6;
        border-radius: 20px;
    }
    
    
  